# Pylint Configuration for MicroPython Project
[MESSAGES CONTROL]
disable=E0401,W0511,W0718,I1101,C0301,E1101,C0116

[DESIGN]
max-args=10
max-locals=15
max-returns=5
max-statements=50
max-line-length=120

[FORMAT]
indent-string='    '

[REPORTS]
output-format=text
reports=no